<div class="col-md-3" />
<div class="col-md-6">
	<h2>404 Ooops...</h2>
	<h3>Looks like this page doesn't exist.</h3>
	<a href="/#/dashboard">Now go do some quacking</a>
</div>
<div class="col-md-3" />

