body {
	padding-top: 100px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

.navbar-text-simple {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.duck-crop {
	width: 131px;
	height: 176px;
	overflow: hidden;
	margin-left:auto;
}

.duck-crop img {
	margin-top: -39px;
	margin-right: -63px;
	display: block;
	margin-left: -62px;
}

.bubble {
	position: absolute;
	width: 130px;
	height: 70px;
	top: 40px;
	right: 162px;
	padding: 5px;
	background: #FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: #DDDDDD solid 1px;
}

.bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 12px 0 12px 15px;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
	right: -15px;
	top: 27px;
}

.bubble:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 12px 0 12px 15px;
	border-color: transparent #DDDDDD;
	display: block;
	width: 0;
	z-index: 0;
	right: -16px;
	top: 27px;
}

.quack-form {
	position: relative;
}

.quack-form textarea {
	resize: none;
	padding-right: 90px;
	min-height: 54px;
}

.quack-form input[type=submit] {
	position: absolute;
	top: 12px;
	right: 20px;
}
.quack-details {
	text-align: justify;
}

.quack-details hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.quack-details .content {
	white-space: pre-wrap;
	word-break: break-all;
}

li.reply {
	border: none;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

li.reply :hover {
	background-color: #f5f5f5;
}
