<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8" ng-controller="LoginController as loginCtrl" >
		<quack-form label-text="Write" ng-show="loginCtrl.hasUserName()" on-post="dashboardCtrl.postQuack(quack, callback)"></quack-form>
		
		<div class="progress progress-striped active" ng-show="!dashboardCtrl.ready">
			<div class="progress-bar" role="progressbar"
				 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
				<span>Loading...</span>
			</div>
		</div>
			
		<div ng-show="dashboardCtrl.ready">
			<div class="alert alert-warning" role="alert" ng-show="!dashboardCtrl.hasQuacks()">No quacks to display here.</div>
			<div class="panel-group">
				<div class="panel panel-default" ng-repeat="quack in dashboardCtrl.quacks">
					<div style="padding: 10px">
						<quack-details quack="quack"></quack-details>
						<div style="margin-top: 10px">
							@* For quack without replies *@
							<button class="btn btn-default btn-sm" data-toggle="collapse" data-target="#collapse{{quack.QuackId}}"
									ng-show="loginCtrl.hasUserName() && !dashboardCtrl.hasReplies(quack)">
								Reply
							</button>

							@* For quack with replies *@
							<button class="btn btn-default btn-sm" data-toggle="collapse" data-target="#collapse{{quack.QuackId}}"
									ng-show="dashboardCtrl.hasReplies(quack)"
									ng-click="dashboardCtrl.loadReplies(quack)">
								Replies <span class="badge">{{quack.RepliesCount}}</span>
							</button>
						</div>
					</div>
					<div id="collapse{{quack.QuackId}}" class="panel-collapse collapse">
						<ul class="list-group">
							<li class="list-group-item reply" ng-repeat="reply in quack.Replies">
								<blockquote>
									<quack-details quack="reply"></quack-details>
								</blockquote>
							</li>
						</ul>
						<div class="panel-footer" ng-show="loginCtrl.hasUserName()">
							<quack-form label-text="Reply" parent-quack-id="{{quack.QuackId}}" on-post="dashboardCtrl.postQuack(quack, callback)" /></quack-form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
