<form name="{{formName}}" class="quack-form"  novalidate>
	<div class="form-group">
		<textarea class="form-control" name="content" maxlength="500" rows="2" ng-required="true" ng-maxlength="500" placeholder="Your message goes here" ng-model="quack.Content" />
		<input type="submit" class="btn btn-primary" value="{{labelText}}" ng-disabled="{{formName}}.$invalid" ng-click="onPost({quack: quack, callback: onPostCallback})" />
	</div>
</form>
